@use "global" as *;

.blog {
  @include mq(md){
    position: relative;
  }
}

.blog-bg {
  padding-top: rem(80);
  @include mq(md){
    padding-top: rem(100);
    width: 100%;
    height: 40%;
  }
}

.blog-bg::before {
  @include mq(md){
    content: '';
    width: 100%;
    height: 60%;
    background-image: url("../images/common/blog-bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  } 
}

.blog__wrapper {
  position: relative;
  @include mq(md){
    margin: auto;
  }
}

.blog__items {
  margin-top: rem(24);
  max-width: rem(600);
  margin: auto;
  @include mq(md){
    position: relative;
    z-index: 10;
    margin-top: rem(82);
    max-width: rem(1080);
  }
}

.blog__items::before {
  @include mq(md){
    background-image: url(../images/common/blog-fish.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: max(rem(306), min(30.35vw, rem(437)));
    height: rem(201);
    position: absolute;
    top: rem(-222);
    left: calc(50% - max(rem(340), min(27.85vw, rem(401))));
    transform: translateX(-50%);
    z-index: 30;
  }
}

.blog__button {
  text-align: center;
  margin-top: rem(40);
  @include mq(md){
    margin-top: rem(80);
  }
}

.blog__illust {
  display: none;
  @include mq(md) {
    display: inline-block;
    max-width: rem(437);
    position: absolute;
    top: rem(24);
    left: rem(100);
    z-index: 50;
  }
}
