@use "global" as *;

.footer {
  padding-top: rem(48);
  padding-bottom: rem(56);
  background-color: $skyBlue;
  @include mq(md){
    padding: rem(80) 0;
  }
}

.footer__info {
  @include mq(md){
    display: flex;
  }
}

.footer__logo{
  max-width: rem(120);
  width: 100%;
  @include mq(md){
    max-width: rem(205);
  }
}

.footer__logoLink{
  display: block;
}

.footer__snsIcon {
  display: flex;
  margin-top: rem(16);
  @include mq(md){
   margin-left: rem(35);
   margin-top: rem(38);
  }
}

.footer__snsLink {
  max-width: rem(24);
  width: 100%;
  @include mq(md){
    max-width: rem(32);
  }
}

.footer__snsLink + .footer__snsLink {
  margin-left: rem(16);
}

.footter__nav {
  margin-top: rem(40);
  @include mq(md){
    margin-top: rem(14);
  }
}

.footer__copyright {
  display: block;
  margin-top: rem(32);
  text-align: center;
  @include mq(md){
    margin-top: rem(75);
  }
}

.footer__copyright{
  font-size: rem(12);
  font-family: $english-font-family;
  line-height: 1.5;
  color: $white;
  @include mq(md){
    font-size: rem(14);
  }
}