@use "global" as *;

.about__item {
  position: relative;
}

.about__item::after {
  @include mq(md) {
    background-image: url(../images/common/about-sango.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: max(rem(136), min(13.47vw, rem(194)));
    height: max(rem(127), min(12.57vw, rem(181)));
    position: absolute;
    right: calc(50% - max(rem(512), min(44.24vw, rem(637))));
    bottom: max(rem(-90), min(-6.25vw, rem(-63)));
    z-index: 30;
  }
}

.about__images {
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: rem(26);
  @include mq(md) {
    padding-bottom: rem(80);
  }
}

.about__left {
  width: 37.101%;
  position: absolute;
  aspect-ratio: 128 / 194;
  z-index: 2;
  @include mq(md) {
    width: 37.037%;
    aspect-ratio: 400 / 606;
  }
}

.about__right {
  width: 81.449%;
  position: relative;
  top: rem(26);
  right: 0;
  margin-left: auto;
  aspect-ratio: 281 / 186;
  z-index: 1;
  @include mq(md) {
    width: 81.481%;
    aspect-ratio: 880 / 600;
    top: rem(80);
  }
}

.about__contents {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: 0;
    z-index: 10;
    position: absolute;
    top: rem(200);
    right: rem(40);
    display: flex;
    gap: rem(40);
  }
}

.about__title {
  font-size: rem(40);
  font-family: $english-font-family;
  font-weight: $regular;
  color: $skyBlue;
  line-height: 1;
  @include mq(md) {
    font-size: rem(80);
    line-height: 1.25;
    color: $white;
  }
}

.about-content {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
    width: rem(400);
  }
}

.about__text {
  font-size: rem(16);
  font-weight: $regular;
  color: $navyBlue;
  line-height: 1.5;
  @include mq(md) {
    color: $white;
  }
}

.about__button {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    padding-right: 0;
  }
}

