@use "global" as *;

.card-list {
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.card-list__item + .card-list__item {
  margin-top: rem(40);
  @include mq(md){
    margin-top: 0;
  }
}

.card-list.card-list--2col {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: rem(500);
  @include mq(md){
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}
