@use "global" as *;

.card-list--2col {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: rem(500);
  @include mq(md){
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}