@use "global" as *;

.colorbox{
  position: relative;
  width: 100%;
}

.colorbox .color{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  background-color: $skyBlue;
}

.colorbox img{
  display: block;
  width: 100%;
}
