@use "global" as *;

.common-button {
  text-align: center;
  display: inline-block;
  font-size: rem(14);
  font-family: $english-font-family;
  line-height: 1.571;
  width: rem(202);
  padding: rem(18) rem(54) rem(16) 0;
  border: 1px solid $skyBlue;
  background-color: $skyBlue;
  color: $white;
  position: relative;
  z-index: 1;
}

.common-button span {
  display: inline-block;
  position: absolute;
  width: rem(40);
  height: rem(6);
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(45deg);
  margin-left: rem(5);
  margin-top: rem(5);
  z-index: inherit;
}

.common-button::before {
  content: "";
  display: inline-block;
  border: 1px solid $skyBlue;
  position: absolute;
  top: rem(4);
  left: rem(4);
  right: rem(-4);
  bottom: rem(-4);
  z-index: -1;
}

.common-button::after {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.common-button:hover {
  color: $skyBlue;
}

.common-button:hover span {
  border-bottom: 1px solid $skyBlue;
  border-right: 1px solid $skyBlue;
}

.common-button:hover::after {
  transform: scale(1, 1);
}


.common-button--white {
  text-align: center;
  display: inline-block;
  font-size: rem(14);
  font-family: $english-font-family;
  line-height: 1.571;
  width: rem(202);
  padding: rem(18) rem(54) rem(16) 0;
  border: 1px solid $white;
  background-color: $white;
  color: $skyBlue;
  position: relative;
  z-index: 1;
}

.common-button--white span {
  display: inline-block;
  position: absolute;
  width: rem(40);
  height: rem(6);
  border-bottom: 1px solid $skyBlue;
  border-right: 1px solid $skyBlue;
  transform: skew(45deg);
  margin-left: rem(5);
  margin-top: rem(5);
  z-index: inherit;
}

.common-button--white::before {
  content: "";
  display: inline-block;
  border: 1px solid $white;
  position: absolute;
  top: rem(4);
  left: rem(4);
  right: rem(-4);
  bottom: rem(-4);
  z-index: -1;
}

.common-button--white::after {
  background-color: $skyBlue;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.common-button--white:hover {
  color: $white;
}

.common-button--white:hover span {
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
}

.common-button--white:hover::after {
  transform: scale(1, 1);
}