@use "global" as *;

.contact__wrapper {
  position: relative;
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(100);
    margin: auto;
    width: min(100%, rem(1600));
  }
}

.contact__inner {
  margin: auto;
  @include mq("md") {
    padding-left: rem(25);
  padding-right: rem(25);
  }
}

.contact__box {
  @include mq("md") {
    display: flex;
    align-items: center;
    padding: rem(85) rem(112) rem(80) rem(50);
    width: 100%;
    max-width: rem(1080);
    margin: auto;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.contact__info {
  padding-left: rem(40);
  padding-right: rem(40);
  max-width: rem(600);
  margin: auto;
  @include mq("md") {
    border-right: 1px solid $skyBlue;
    margin: 0;
    width: 70%;
    padding-left: 0;
    padding-right: rem(85);
  }
}

.contact__logo {
  text-align: center;
  border-bottom: 1px solid $skyBlue;
  @include mq("md") {
    padding-bottom: rem(5);
  }
}

.contact__logo img {
  max-width: rem(174);
  width: 100%;
  display: inline-block;
  @include mq("md") {
    min-width: rem(200);
  }
}

.contact__access {
  margin-top: rem(16);
  @include mq("md") {
    display: flex;
    gap: rem(21);
    margin-top: rem(24);
  }
}

.contact__access-text {
  text-align: center;
  @include mq("md") {
    text-align: left;
    max-width: rem(146);
    width: 100%;
  }
}

.contact__access-text p {
  font-size: rem(16);
  font-weight: $regular;
  color: $navyBlue;
  line-height: 1.5;
  letter-spacing: 0.019em;
}

.contact__access-text p:first-child {
  padding-right: rem(10);
}

.contact__access-text p:not(:first-child) {
  margin-top: rem(4);
}
.contact__access-text p:not(:first-child) {
  margin-top: rem(4);
}

.contact__access-map {
  margin-top: rem(16);
  width: 100%;
  position: relative;
  @include mq("md") {
    margin-top: 0;
    max-width: rem(315);
  }
}

.contact__access-map::before {
  content: "";
  display: block;
  padding-top: 54.237%;
  @include mq("md") {
    padding-top: 54.212%;
  }
}

.contact__access-map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__content {
  margin-top: rem(40);
  padding-left: rem(30);
  padding-right: rem(30);
  text-align: center;
  @include mq("md") {
    margin-top: 0;
    width: 43%;
    padding-left: 0;
    padding-right: 0;
    margin-left: rem(82);
  }
}

.contact-text {
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.286;
  color: $skyBlue;
  margin-top: rem(14);
}

.contact-button {
  margin-top: rem(40);
  text-align: center;
}

.contact__illust {
  display: inline-block;
  max-width: rem(109);
  width: 100%;
  position: absolute;
  top: rem(-25);
  right: rem(15);
  @include mq(md) {
    max-width: rem(301);
    top: rem(-20);
    right: rem(50);
  }
}

.contact__top-btn {
    position: absolute;
    bottom: rem(-90);
    right: rem(15);
  @include mq(md) {
    bottom: rem(-150);
    right: rem(20);
  }
}