@use "global" as *;

.contact {
  padding-top: rem(80);
  padding-bottom: rem(100);
  @include mq("md") {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
    padding-top: rem(140);
    padding-bottom: rem(160);
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.contact__inner {
  padding: 0 rem(15);
  @include mq("md") {
    padding: rem(80) 0 rem(80) rem(50);
    background-color: $white;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
  }
}

.contact__info {
  @include mq("md") {
    max-width: 48.333%;
    width: 100%;
    padding-right: rem(82);
    border-right: 1px solid $skyBlue;
  }
}

.contact__logo {
  padding-bottom: rem(6);
  text-align: center;
}

.contact__logo img {
  max-width: rem(174);
  width: 100%;
  display: inline-block;
}

.contact__access {
  border-top: 1px solid $skyBlue;
  padding-top: rem(16);
  @include mq("md") {
    display: flex;
    gap: rem(21);
    padding-top: rem(24);
  }
}

.contact__access-text {
  text-align: center;
  @include mq("md") {
    text-align: left;
    max-width: rem(146);
    width: 100%;
  }
}

.contact__access-text p {
  font-size: rem(16);
  font-weight: $regular;
  color: $navyBlue;
  line-height: 1.5;
}

.contact__access-text p:not(:first-child) {
  margin-top: rem(4);
}

.contact__access-map {
  margin-top: rem(16);
  width: 100%;
  position: relative;
  @include mq("md") {
    margin-top: 0;
    max-width: rem(315);
  }
}

.contact__access-map::before {
  content: "";
  display: block;
  padding-top: 54.237%;
  @include mq("md") {
    padding-top: 54.212%;
  }
}

.contact__access-map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__content {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    max-width: 29.167%;
    margin-top: 0;
    margin-left: rem(81);
  }
}

.contact-text {
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.286;
  color: $skyBlue;
  margin-top: rem(8);
}

.contact-button {
  margin-top: rem(40);
  text-align: center;
}

.contact__illust {
  display: inline-block;
  max-width: rem(109);
  width: 100%;
  position: absolute;
  top: rem(54);
  right: rem(15);
  @include mq(md) {
    max-width: rem(301);
    top: rem(100);
    right: rem(50);
  }
}