@use "global" as *;

.form__button input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #233b6c;
  border: none;
  color: #fff;
  cursor: pointer;
}

