@use "global" as *;

.form {
	max-width: rem(700);
	margin: auto;
	@include mq(md){
    margin: 0;
		margin-left: rem(104);
  }
}

.form.error {
	margin-top: rem(40);
}

.form__item {
  padding-bottom: rem(24);
  border-bottom: 1px dotted $skyBlue;
	@include mq(md){
		padding-bottom: rem(40);
    display: flex;
		align-items: start;
  }
}

.form__item + .form__item {
  margin-top: rem(24);
	@include mq(md){
    margin-top: rem(40);
  }
}

.form__item dt {
  font-size: rem(16);
  font-weight: $bold;
  color: $navyBlue;
	line-height: 1;
	@include mq(md){
    width: 30%;
  }
}

.form__item dd {
	@include mq(md){
    width: 68%;
		margin-left: rem(10);
  }
}


.form__required-tag {
	color: $white;
  font-size: rem(12);
  font-weight: $regular;
  padding: rem(2) rem(18);
  background-color: #C94800;
	margin-left: rem(8);
	line-height: 1;
}

.form__item input {
	margin-top: rem(22);
	width: 100%;
	height: rem(40);
	background-color: $white;
	border: 1px solid $skyBlue;
	padding: rem(8) rem(16);
	@include mq(md){
    margin-top: 0;
  }
}

.form__item .checkbox-content {
	margin-top: rem(16);
	@include mq(md){
		margin-top: 0;
  }
}

.form__item.error input {
	margin-top: rem(16);
	width: 100%;
	height: rem(40);
	background-color: rgba(201,72,0,0.2);
	border: 1px solid #C94800;
	padding: rem(8) rem(16);
	color: $white;
	@include mq(md){
    margin-top: 0;
  }
}

.form__campaign-select {
	width: 100%;
	position: relative;
}

.form__campaign-select::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: rem(5) rem(5) 0 rem(5);
	border-color: $skyBlue transparent transparent transparent;
	position: absolute;
	top: 50%;
	right: rem(8);
	transform: translateY(-50%);
	pointer-events: none;
	z-index: 5;
}

.form__campaign-select select {
	margin-top: rem(16);
	font-size: rem(12);
	font-weight: $regular;
	width: 100%;
	height: rem(40);
	background-color: $white;
	border: 1px solid $skyBlue;
	padding: rem(5);
	position: relative;
  z-index: 1;
	@include mq(md){
    margin-top: 0;
		height: rem(30);
  }
}

.form__campaign-select select::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid $skyBlue;
  border-right: 2px solid $skyBlue;
  z-index: -1;
}

.form__item textarea {
	margin-top: rem(20);
	width: 100%;
	height: rem(200);
	background-color: $white;
	border: 1px solid $skyBlue;
	padding: rem(8) rem(16);
	@include mq(md){
    margin-top: 0;
  }
}

.form__item input::placeholder {
	color: #DDF0F1;
	font-size: rem(16);
	font-weight: $regular;
}

/* チェックボックス */
input[type=checkbox] {
	display: none;
}
.page-checkbox {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding: rem(2) rem(22);
	position: relative;
	width: auto;
	@include mq(md){
    padding: rem(5) rem(30);
  }
}
.page-checkbox::before {
	background: $white;
	border: 1px solid $skyBlue;
	content: '';
	display: block;
	height: rem(14);
	left: 0;
	margin-top: rem(-8);
	position: absolute;
	top: 50%;
	width: rem(14);
}
.page-checkbox::after {
	border-right: 2px solid #C94800;
	border-bottom: 2px solid #C94800;
	content: '';
	display: block;
	height: rem(9);
	left: rem(5);
	margin-top: rem(-7);
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
	width: rem(5);
}
input[type=checkbox]:checked + .page-checkbox::after {
	opacity: 1;
}

.form__agree-check {
	margin-top: rem(40);
	display: flex;
	justify-content: center;
	@include mq(md){
    margin-top: rem(80);
  }
}

.agree-check {
	font-size: rem(14);
	line-height: 1.6;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	padding-left: rem(30);
	position: relative;
	width: auto;
	@include mq(md){
    padding-left: rem(45);
		line-height: 1.375;
  }
}
.agree-check::before {
	background: $white;
	border: 1px solid $skyBlue;
	content: '';
	display: block;
	height: rem(22);
	left: rem(5);
	position: absolute;
	width: rem(22);
}
.agree-check::after {
	border-right: 3px solid #C94800;
	border-bottom: 3px solid #C94800;
	content: '';
	display: block;
	height: rem(12);
	left: rem(12);
	margin-top: rem(-7);
	opacity: 0;
	position: absolute;
	top: 32%;
	transform: rotate(45deg);
	width: rem(8);
}
input[type=checkbox]:checked + .agree-check::after {
	opacity: 1;
}

.form__button {
	text-align: center;
	margin-top: rem(24);
	@include mq(md){
    margin-top: rem(40);
  }
}