@use "global" as *;

.gallery__contents {
  margin-top: rem(40);
  display: flex;
  flex-direction: column;
  gap: rem(8);
  @include mq(md){
    margin-top: rem(80);
    display: grid;
    gap: rem(8);
    grid-auto-flow: dense;
    grid-template-columns: repeat(13, 1fr);
    position: relative;
  }
}

.gallery__contents::after {
  @include mq("md") {
    background-image: url(../images/common/gallery_fish.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: min(20.9vw, rem(301));
    height: min(9.58vw, rem(138));
    position: absolute;
    top: rem(-224);
    right: calc(50% - min(48vw, rem(640))); 
  }
}

.gallery__contents img:first-child {
  grid-column: span 6;
  grid-row: span 4;
}

.gallery__contents img:nth-child(2),
.gallery__contents img:nth-child(3) {
  grid-column: span 7;
  grid-row: span 2;
}

.gallery__contents img:nth-child(4),
.gallery__contents img:nth-child(5) {
  grid-column: span 7;
  grid-row: span 2;
}

.gallery__contents img:nth-child(6) {
  grid-column: span 6;
  grid-row: span 4;
}

/* アスペクト比設定 */
.gallery__contents img {
  aspect-ratio: 345 / 219;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 580 / 369;
  }
}

.gallery__contents img:first-child,
.gallery__contents img:nth-child(6) {
  aspect-ratio: 345 / 523;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 492 / 746;
  }
}

.gallery__display {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

.gallery__display img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
}