@use "global" as *;

.card-list--2col {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: rem(500);
  @include mq(md){
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-list--2col__item:nth-child(n+3) {
  @include mq(md){
    margin-top: rem(40);
  }
}