@use "global" as *;

.home-blog__list {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: rem(500);
  @include mq(md){
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.home-blog__list-item:nth-child(n+3) {
  @include mq(md){
    margin-top: rem(40);
  }
}

.home-blog__card-image {
  overflow: hidden;
  width: 100%;
}

.home-blog__card-image img {
  height: auto;
  transition: transform .6s ease;
}

.home-blog__card-image:hover img {
  transform: scale(1.1);
}

.home-blog__sidebar {
  width: rem(294);
  margin: auto;
  margin-top: rem(80);
  display: flex;
  flex-direction: column;
  gap: rem(80);
  @include mq(md){
    margin-top: 0;
  }
}

