@use "global" as *;

.loader {
  position: fixed;
  z-index: 99998;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__header {
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $skyBlue;
  text-align: center;
}

.loader-title {
  font-size: rem(40);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $skyBlue;
  line-height: 1;
  letter-spacing: 0.54em;
  text-transform: uppercase;
  @include mq(md){
    font-size: rem(80);
    line-height: 1.25;
  }
}

.loader__subtitle {
  font-size: rem(20);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $skyBlue;
  line-height: 1;
  text-transform: uppercase;
}
