@use "global" as *;

.nav-contents__items {
  display: flex;
  flex-wrap: wrap;
}

.nav-contents__item {
  width: calc(100% / 2);
  @include mq(md){
    width: calc(100% / 4);
  }
}

.nav-contents__title span {
  margin-right: rem(4);
  display: inline-block;
  width: rem(18);
}

.nav-contents__title {
  margin-top: rem(40);
}

.nav-contents__title a {
  display: inline-block;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.125;
  color: $white;
}

.nav-contents__text {
  margin-top: rem(24);
  text-indent: rem(18);
}

.nav-contents__text a{
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.125;
  color: $white;
}

