@use "global" as *;

.nav-contents__items {
  display: flex;
  flex-wrap: wrap;
}

.nav-contents__left,
.nav-contents__right {
  width: 50%;
  @include mq(md){
    
  }
}

.nav-contents__left .nav-contents__box {
  margin-top: 34px;
}

.nav-contents__left .nav-contents__box:nth-child(1){
  margin-top: 0;
}

.nav-contents__left .nav-contents__box:nth-child(3){
  margin-top: 40px;
}

.nav-contents__right--footer {
  padding-left: rem(11);
}

.nav-contents__right .nav-contents__box {
  margin-top: 40px;
}

.nav-contents__right .nav-contents__box:nth-child(1){
  margin-top: 0;
}

.nav-contents__right .nav-contents__box:nth-child(3){
  margin-top: 34px;
}

.nav-contents__right .nav-contents__box:nth-child(6){
  margin-top: 40px;
}

.nav-contents__title a {
  display: block;
  display: flex;
}

.nav-contents__title a p {
  display: inline-block;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.125;
  color: $white;
  margin-left: 4px;
}
.nav-contents__title a img {
  display: inline-block;
  width: rem(18);
  height: rem(18);
}

.nav-contents__text {
  margin-top: rem(20);
  text-indent: rem(18);
  padding-left: rem(6);
}

.nav-contents__text .footer-padding {
  margin-top: rem(20);
  text-indent: rem(18);
  padding-left: rem(4);
}

.nav-contents__text a{
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.125;
  color: $white;
}

