@use "global" as *;

.page-faq {
  position: relative;
}

.page-faq__inner {
  margin: auto;
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq(md){
    max-width: rem(700);
    padding-left: 0;
    padding-right: 0;
  }
}

.page-faq__container + .page-faq__container {
  margin-top: rem(40);
}

.page-faq__title {
  background-color: $skyBlue;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  padding: rem(14) rem(16);
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: rem(40);
  @include mq(md){
    padding: rem(25) rem(40);
    font-size: rem(20);
  }
}

.page-faq__title:first-child {
  margin-top: 0;
}

.page-faq__title::before, .page-faq__title::after {
  content: '';
  display: block;
  background-color: $white;
  position: absolute;
  top: 50%;
  width: rem(28);
  height: rem(1);
  right: rem(16);
  @include mq(md){
    width: rem(32);
    height: rem(1);
    right: rem(40);
  }
}

.page-faq__title::after {
  transform: rotate(0deg);
  transition-duration: .3s;
}

.page-faq__title.is-active::before {
  opacity: 1;
}

.page-faq__title.is-active::after {
  transform: rotate(-90deg);
}

.page-faq__content {
  background-color: $white;
  padding: rem(24) rem(16) rem(22);
  border: 1px solid $skyBlue;
  line-height: 1.45;
  letter-spacing: 0.006em;
  height: auto;
  opacity: 1;
  font-size: rem(16);
  color: $navyBlue;
  @include mq(md){
    margin-top: rem(16);
    padding: rem(39);
  }
}
