@use "global" as *;

.page-aboutus{
  position: relative;
}

.page-aboutus__item::after {
  display: none;
}

.page-aboutus__images {
  padding-bottom: 0;
  @include mq(md){
    display: block;
    padding-bottom: rem(60);
  }
}

.page-aboutus__right {
  width: 100%;
  top: 0;
  @include mq(md){
    width: 81.481%;
    top: rem(80);
  }
}

.page-aboutus__contents {
  @include mq(md){
    gap: rem(65);
    top: rem(176);
    right: rem(35);
  }
}

.page-aboutus__title {
  position: absolute;
  color: $white;
  top: rem(24);
  left: rem(24);
  z-index: 3;
  @include mq(md){
    position: relative;
  }
}

.page-aboutus__text {
  @include mq(md){
    padding-top: rem(50);
  }
}