@use "global" as *;

.page-404 {
  background-color: $skyBlue;
  padding-top: rem(80);
  position: relative;
}

.page-404 .top-breadcrumb {
  margin-top: 0;
  padding-top: rem(8);
  @include mq(md){
    padding-top: rem(20);
  }
}

.page-404__content {
  height: rem(698);
  font-weight: $regular;
  font-family: sub-english-font-family;
  color: $white;
  text-align: center;
  align-items: center;
}

.page-404__image {
  max-width: rem(698);
  position: absolute;
  top: rem(90);
}

.page-404__box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.page-404__title {
  font-size: rem(80);
  letter-spacing: 0.5em;
  text-indent: rem(40);
  line-height: 1;
  @include mq(md){
    font-size: rem(150);
    text-indent: rem(75);
  }
}

.page-404__text {
  font-size: rem(16);
  line-height: 1.5;
  @include mq(md){
    margin-top: rem(40);
  }
}

.page-404__button {
  margin-top: rem(40);
  @include mq(md){
    margin-top: rem(80);
  }
}

.page-404__footer.footer {
  margin-top: rem(-33);
}


