@use "global" as *;

.page-404 {
  background-color: $skyBlue;
  height: rem(425);
  padding-top: rem(80);
  position: relative;
}

.page-404 .top-breadcrumb {
  margin-top: 0;
  padding-top: rem(8);
}

.page-404_content {
  position: absolute;
}

.page-404 .footer {
  margin-top: 0;
}
