@use "global" as *;

.page-information {
  position: relative;
}

.page-information__box-top {
  margin-top: rem(16);
  @include mq(md){
    margin-top: rem(27);
  }
}

.page-information__box {
  border: 1px solid $skyBlue;
  padding: rem(24);
  margin-top: rem(16);
  @include mq(md){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(24);
  }
}

.page-information__box-text {
  @include mq(md){
    width: calc((100% - 48px) / 2);
  }
}

.page-information__box-title {
  font-size: rem(24);
  font-weight: $bold;
  line-height: 1;
  padding-bottom: rem(8);
  border-bottom: 1px solid $skyBlue;
  color: $navyBlue;
}

.page-information__box-message {
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
}

.page-information__box-image {
  margin-top: rem(8);
  @include mq(md){
    width: calc((100% - 48px) / 2);
    margin-top: 0;
  }
}

.page-information__box-image img {
  aspect-ratio: 297 / 189;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md){
    aspect-ratio: 492 / 313;
  }
}