@use "global" as *;

.page-thanks {
  position: relative;
}

.page-thanks__content {
  text-align: center;
  font-size: rem(16);
  font-weight: $regular;
  color: $navyBlue;
}

.page-thanks__title {
  line-height: 1.125;
}

.page-thanks__messege {
  margin-top: rem(40);
  line-height: 1.4;
  @include mq(md){
    line-height: 1.42;
  }
}

.page-thanks__footer {
  margin-top: rem(148);
  @include mq(md){
    margin-top: rem(120);
  }
}
