@use "global" as *;

.page-contact {
  position: relative;
}

.page-contact__content{
  margin: auto;
}

.page-contact__error-messege {
  font-size: rem(14);
  font-weight: $regular;
  color: #C94800;
  text-align: center;
}

