@use "global" as *;

.page-faq {
  position: relative;
}

.page-faq__inner {
  @include mq(md){
    max-width: rem(750);
  }
}

.page-faq__item + .page-faq__item {
  margin-top: rem(40);
}

.page-faq__question {
  background-color: $skyBlue;
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  padding: rem(14) rem(16);
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: rem(40);
  @include mq(md){
    padding: rem(25) rem(40);
    font-size: rem(20);
  }
}

.page-faq__question:first-child {
  margin-top: 0;
}

.page-faq__question::before,
.page-faq__question::after {
  content: '';
  display: block;
  background-color: $white;
  position: absolute;
  top: 50%;
  width: rem(28);
  height: rem(1);
  right: rem(16);
  @include mq(md){
    width: rem(32);
    height: rem(1);
    right: rem(40);
  }
}

.page-faq__question::after {
  transform: rotate(0deg);
  transition-duration: .3s;
}

.page-faq__question.is-active::after {
  transform: rotate(-90deg);
}

.page-faq__answer {
  background-color: $white;
  padding: rem(24) rem(16) rem(22);
  border: 1px solid $skyBlue;
  line-height: 1.45;
  letter-spacing: 0.006em;
  height: auto;
  opacity: 1;
  font-size: rem(16);
  color: $navyBlue;
  @include mq(md){
    margin-top: rem(16);
    padding: rem(39);
  }
}
