@use "global" as *;

.section-header {
  text-align: center;
}

.section-header__subtitle {
  font-size: rem(32);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $navyBlue;
  line-height: 1.25;
  @include mq(md){
    font-size: rem(40);
    line-height: 1;
  }
}

.section-header__subtitle::first-letter {
  color: $skyBlue;
}

.section-header__title {
  font-size: rem(12);
  font-weight: $regular;
  color: $skyBlue;
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md){
    margin-top: rem(8);
  }
}

.section-header__subtitle--big {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  text-align: center;
  font-size: rem(80);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $navyBlue;
  line-height: 1;
  @include mq(md){
    width: initial;
    margin-left: rem(-5);
    position: relative;
    z-index: 50;
  }
}

.section-header__subtitle--big span {
  color: $skyBlue;
}

.section-header__title--big {
  font-size: rem(12);
  font-weight: $regular;
  color: $skyBlue;
  line-height: 0.5;
}

.section-header__subtitle--white {
  font-size: rem(32);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $navyBlue;
  line-height: 1.25;
  @include mq(md){
    font-size: rem(40);
    line-height: 1;
    color: $white;
  }
}

.section-header__subtitle--white span {
  @include mq(md){
    color: $white;
  }
  color: $skyBlue;
}

.section-header__title--white {
  font-size: rem(12);
  font-weight: $regular;
  color: $white;
  line-height: 1.5;
  margin-top: rem(4);
}

