@use "global" as *;

.section-header {
  text-align: center;
}

.section-header__entitle {
  font-size: rem(32);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $navyBlue;
  line-height: 1.25;
  @include mq(md){
    font-size: rem(40);
    line-height: 1;
  }
}

.section-header__entitle::first-letter {
  color: $skyBlue;
}

.section-header__title {
  font-size: rem(12);
  font-weight: $regular;
  color: $skyBlue;
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md){
    margin-top: rem(8);
  }
}

.section-header__entitle--white {
  @extend .section-header__entitle;
  @include mq(md){
    color: $white;
  }
}

.section-header__entitle--white::first-letter {
  color: $skyBlue;
  @include mq(md){
    color: $white;
  }
}

.section-header__title--white {
  @extend .section-header__title;
  color: $skyBlue;
  @include mq(md){
    color: $white;
  }
}

