@use "global" as *;

.sidebar {
  width: rem(294);
  margin: auto;
  margin-top: rem(80);
  display: flex;
  flex-direction: column;
  gap: rem(80);
  @include mq(md){
    margin-top: 0;
  }
}

.sidebar__box {
  display: flex;
  flex-direction: column;
}

.sidebar__header span img{
  width: rem(50);
}

.sidebar__header {
  font-size: rem(24);
  font-weight: $regular;
  color: $navyBlue;
  padding-left: rem(16);
  border-left: 7px solid $skyBlue;
  display: flex;
  gap: rem(10);
  align-items: center;
}

.sidebar__content {
  margin-top: rem(24);
}