@use "global" as *;

.sidebar-box {
  display: flex;
  flex-direction: column;
}

.sidebar-box__header span img{
  width: rem(50);
}

.sidebar-box__header {
  font-size: rem(24);
  font-weight: $regular;
  color: $navyBlue;
  padding-left: rem(16);
  border-left: 7px solid $skyBlue;
  display: flex;
  gap: rem(10);
  align-items: center;
}

.sidebar-box__content {
  margin-top: rem(24);
}

.sidebar-campaign__title {
  text-align: center;
}

.sidebar-campaign__price-pop {
  margin-top: rem(8);
}

.sidebar-campaign__price-box {
  justify-content: center;
  padding-left: rem(40);
  align-items: center;
}

.sidebar-campaign__price-before {
  font-size: rem(20);
  line-height: 1;
}

.campaign-card__price-after.sidebar-campaign__price-after {
  font-size: rem(32);
  line-height: 1;
  padding-left: rem(16);
}
