@use "global" as *;

.sidebar-campaign {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.sidebar-campaign .campaign-card {
  max-width: 100%;
}

.sidebar-campaign__button {
  text-align: center;
  margin-top: rem(40);
}