@use "global" as *;

.sub-blog {
  position: relative;
}

.sub-blog__contents {
  display: flex;
  flex-direction: column;
  gap: rem(80);
  @include mq(md){
    flex-direction: row;
  }
}

.sub-blog__content {
  display: flex;
  flex-direction: column;
}

.sub-blog__sidebar {
  width: 100%;
  margin: 0 auto;
  @include mq(md){
    width: rem(294);
  }
}