@use "global" as *;

.toggle-list__title {
  font-size: 24px;
  font-weight: $regular;
  color: $skyBlue;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  padding-left: rem(48);
  display: block;
}

.toggle-list__title--child {
  @extend .toggle-list__title;
  padding: rem(24) rem(24) rem(24) rem(48);
}

.toggle-list__title::after {
  content: "";
	display: inline-block;
	width: rem(24);
	height: rem(24);
	background-image:url(../images/common/toggle-button.png);
  background-repeat: no-repeat;
  background-size: contain;
	position:absolute;
	top: 25%;
	left: 0;
	transform: translate(50%) ;
	transition: 0.3s;
}

.toggle-list__title.is-active::after {
  top: 35%;
  transform: translate(50%) rotate(90deg);
	transition: 0.3s;
}

.toggle-list__title.is-active::before {
  opacity: 0;
}

.toggle-list__title + .toggle-list__title {
  margin-top: rem(4);
}

.toggle-list__content {
  display: block;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: .3s;
  margin-top: rem(4);
  padding-left: rem(32);
}

.toggle-list__content.is-open {
  margin-bottom: rem(4);
  padding: rem(12) 0 rem(12) rem(32);
  height: 100%;
  opacity: 1;
  display: block;
}

