@use "global" as *;

.top-sub-contents {
  margin-top: rem(52);
  @include mq(md){
    margin-top: rem(150);
  }
}

.top-sub-contents::after {
  background-image: url(../images/common/subpage-top_fish.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: min(32vw, rem(120));
  height: min(14.67vw, rem(55));
  position: absolute;
  left: 0;
  top: rem(-24);
  z-index: -1;
  @include mq(md) {
    width: min(20.9vw, rem(301));
    height: min(9.58vw, rem(138));
    left: calc(50% - min(48vw, rem(620)));
    top: rem(-70);
  }
}