@use "global" as *;

.view-button {
  text-align: center;
  display: inline-block;
  font-size: rem(14);
  font-weight: $regular;
  font-family: $english-font-family;
  color: $white;
  width: rem(202);
  padding: rem(16) 0;
  background-color: #408F95;
  line-height: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.view-button::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 1px solid #408F95;
  top: 4px;
  left: 4px;
  right: -4px;
  bottom: -4px;
}

.view-button::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 16px;
  right: 34px;
  width: 20px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: skew(45deg);
}

