@use "global" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: rem(12);
}

.previouspostslink,
.page,
.nextpostslink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(38);
  height: rem(38);
  background-color: #FFF;
  border: 1px solid $skyBlue;
  color: $skyBlue;
  font-size: rem(16);
  font-weight: bold;
  font-family: $sub-english-font-family;
  transition: 0.3s ease;
  position: relative;
  cursor: pointer;
}

.previouspostslink:hover,
.page:hover,
.nextpostslink:hover {
  background-color: $skyBlue;
  color: $white;
}

.page a {
  display: block;
}

.wp-pagenavi .current {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $skyBlue;
  font-size: rem(16);
  font-weight: bold;
  font-family: $sub-english-font-family;
  transition: 0.3s ease;
  position: relative;
  cursor: pointer;
  background-color: $skyBlue;
  color: #FFF;
}

.pc-only {
  display: none;
  @include mq(md){
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.previouspostslink {
  margin-right: rem(28);
}

.previouspostslink::before {
  content: '';
  width: rem(10);
  height: rem(10);
  border: 0;
  border-top: solid 1px $skyBlue;
  border-right: solid 1px $skyBlue;
  transform: rotate(225deg);
  position: absolute;
  left: rem(15);
}

.previouspostslink:hover::before {
  content: '';
  border-top: solid 1px $white;
  border-right: solid 1px $white;
}

.nextpostslink {
  margin-left: rem(28);
}

.nextpostslink::before {
  content: '';
  width: rem(10);
  height: rem(10);
  border: 0;
  border-top: solid 1px $skyBlue;
  border-right: solid 1px $skyBlue;
  transform: rotate(45deg);
  position: absolute;
  right: rem(15);
}

.nextpostslink:hover::before {
  content: '';
  border-top: solid 1px $white;
  border-right: solid 1px $white;
}